DATABASE_URL=postgresql://postgres.REFERENCIA:CONTRASENA@aws-0-REGION.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:CONTRASENA@db.REFERENCIA.supabase.co:5432/postgres
AUTH_SECRET=
ADMIN_INICIAL_USUARIO=
ADMIN_INICIAL_CONTRASENA=
